<!DOCTYPE html>
<head>
    <title> Welcome to <%= recipeSharingName %> </title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<header>
    <img src="/logo.png" alt="Website logo">
</header>

<body>
    <h1> Welcome to <%= recipeSharingName %>! </h1>
    <p><%= recipeSharingName %> exists for you to find and share recipes. You will find a variety a recipes from all differnt cuisines, so sit back, explore and find your match! <p>
    <p>You are more than welcome to share your thoughts and comments on existing recipes on our dedicated Food Review page. But don't forget to add a rating... </p>
    
    <p>Let us take you on an experience and expand your culinary tastebuds! </p>
</body>
<footer>
    <!-- adding a back button to allow users to navigate back to the previous page if they wish -->
    <div class="back_button">
        <a href="javascript:history.back()">
            <img src="/back_button.png" alt="Back Button" width="30px" height="30px">
        </a>
    </div>
</footer>
</html>