<!DOCTYPE html>
<head>
    <title> Welcome to <%= recipeSharingName %> </title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<header>
    <img src="/logo.png" alt="Website logo">
</header>

<body>

    
</body>
<footer>
    <!-- adding a back button to allow users to navigate back to the previous page if they wish -->
    <div class="back_button">
        <a href="javascript:history.back()">
            <img src="/back_button.png" alt="Back Button">
        </a>
    </div>
</footer>
</html>