<!DOCTYPE html>
<head>
    <title> Welcome to <%= recipeSharingName %> </title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <h1> Add a Recipe </h1>
    <!-- creating a post form so that the users details are stored within the database -->
    <!-- users will be redirected a 'registered' page when finished signing up -->
    <form method="post" action="/recipeadded">
        <!-- form fields needed -->
        <label>Recipe Name: <input id = "name" type="text" name="name" placeholder="eg. BBQ Chicken" /></label>
        <br>
        <label>Cuisine: <input id = "cuisine" type="text" name="cuisine" placeholder="eg. Portuguese" /></label>
        <br>
        <label>Description of recipe: <input id = "description" type="text" name="description" placeholder="eg. This recipe has some chicken that is covered in barbeque sauce"/></label>
        <br>
        <label>Ingredients: <input id = "ingredients" type="text" name="ingredients" placeholder="4kg of chicken, etc." /></label>
        <br>
        <label>Recipe Method: <input id = "method" type="text" name="method" placeholder="1. Wash the chicken, etc."/></label>
        <br>
        <!-- button that users will press to redirect to the 'registered' page -->
        <input type="submit" value="Add Recipe"/>
    </form>
</body>
<footer>
    <!-- adding a back button to allow users to navigate back to the previous page if they wish -->
    <div class="back_button">
        <a href="javascript:history.back()">
            <img src="/back_button.png" alt="Back Button">
        </a>
    </div>
</footer>
</html>