<!DOCTYPE html>
<html>
    <head>
        <title> Deleting Users </title>
        <link rel="stylesheet"  type="text/css" href="/main.css" />
    </head>
    <body>
        <form method="get" action="/external-recipes">
        <label>Search external recipes <input id="input" type="text" name="input" placeholder="eg. Italian Wedding Soup"/></label>
        <input type="submit" value="Submit"/>
        </form>
    </body>
</html>