<!DOCTYPE html>
<html>
    <head>
        <title> External Recipes </title>
        <link rel="stylesheet"  type="text/css" href="/main.css" />
    </head>
    <header>
        <img src="/logo.png" alt="Website logo">
    </header>
    <body>
        <form method="get" action="/external-recipes">
        <label>Search external recipes: <input id="input" type="text" name="input" placeholder="eg. Italian Wedding Soup"/></label>
        <input type="submit" value="Submit"/>
        </form>
    </body>
    <footer>
        <!-- adding a back button to allow users to navigate back to the previous page if they wish -->
        <div class="back_button">
            <a href="javascript:history.back()">
                <img src="/back_button.png" alt="Back Button" width="30px" height="30px">
            </a>
        </div>
    </footer>
</html>