<!DOCTYPE html>
<html>
    <head>
        <title> Welcome to <%= recipeSharingName %> </title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>

    <header>
        <p><a href="register"> Register </a></p>
        <p><a href="login"> Login </a></p>
    </header>
    <body>
        <h1> Welcome to <%= recipeSharingName %> </h1>
        <p><a href="about"> About <%= recipeSharingName %> </a></p>
        <p><a href="list_recipes"> View our Recipes</a></p>
        <p><a href="add_recipe"> Add a Recipe</a></p>
        <p><a href="search">Search for a Recipe</a></p>
        <p><a href="logout"> Logout </a></p>
    </body>

</html>