<!DOCTYPE html>
<html>
    <head>
        <title> Welcome to <%= recipeSharingName %> </title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <header>
        <img src="/logo.png" alt="Website logo">
        <p><a href="register"> Register </a></p>
        <p><a href="login"> Login </a></p>
    </header>
    <body>
        <p><a href="about"> About <%= recipeSharingName %> </a></p>
        <p><a href="list_recipes"> View our Recipes</a></p>
        <p><a href="search">Search for a Recipe</a></p>
        <p><a href="add_recipe"> Add a Recipe</a></p>
        <p><a href="add_review"> Add a Food Review</a></p>
        <p><a href="external-recipes-form"> External Recipes </a></p>
        <p><a href="api"> API </a></p>
        <p><a href="logout"> Logout </a></p>
    </body>

</html>