<!DOCTYPE html>
<html>
    <head>
        <title> Welcome to <%= recipeSharingName %> </title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <header>
        <img src="/logo.png" alt="Website logo">
        <!-- Adding registration and login links within the header -->
        <p id="register"><a href="register"> Register </a></p>
        <p id="login"><a href="login"> Login </a></p>
    </header>
    <body>
        <!-- Different pages -->
        <!-- About us -->
        <p><a href="about"> About <%= recipeSharingName %> </a></p>
        <!-- View available recipes -->
        <p><a href="list_recipes"> View our Recipes</a></p>
        <!-- Search for existing recipes (within the database) -->
        <p><a href="search">Search for a Recipe</a></p>
        <!-- Adding a recipe page -->
        <p><a href="add_recipe"> Add a Recipe</a></p>
        <!-- View available food reviews -->
        <p><a href="reviews"> View Food Reviews</a></p>
        <!-- Adding a review page -->
        <p><a href="add_review"> Add a Food Review</a></p>
        <!-- Search for external recipes (within the web api) -->
        <p><a href="external-recipes-form"> External Recipes </a></p>
        <!-- API provided by the application -->
        <p><a href="api"> API </a></p>
        <!-- Logout link -->
        <p><a href="logout"> Logout </a></p>
    </body>

</html>